<div class="container">
  <h1>Results</h1>

  <p>
    <% if @included == false %>
      Sorry but <strong><%= @word.upcase %></strong> can't be built out of <%= @grid %>.
    <% elsif @english == false %>
      Sorry but <strong><%= @word.upcase %></strong> doesn't seem to be a valid English word!
    <% else %>
      <strong>Congratulations!</strong> <%= @word.upcase %> is a valid English word!
    <% end %>
  </p>

  <%= link_to "Play again", new_path %>
</div>
